<div class="">

    <table class="center">
        <tr>
            <td>
                <form action="/home/testid" method="post">
                    <input type="text" id="testID" name="testid" placeholder="Enter the Test ID" autofocus>
                    <input type="submit" id="takeTestButton" value="Take Test">
                </form>
            </td>
        </tr>

        <tr>
            <td><button class="dashboard-button-1">
                    <label class="btn-txt"><b>View Tests</b></label><br>

                    <ul>
                        <li>View the different examinations available.</li>
                        <li>Different courses require mandatory test attendance </li>
                        <li>Test are categorized based on difficulty, priority and subjects.</li>
                    </ul>
                </button>
            </td>
        </tr>

        <tr>
            <td><button class="dashboard-button-2">
                    <label class="btn-txt"><b>View Grades</b></label>
                    <div class="grades"><img src="/images/comparative.png"></div>
                    <div class="grades1"><img src="/images/students.png"></div>
                    <ul>
                        <li>Grade history analysis.</li>
                        <li>Check the progress of your performance</li>
                        <li>Test wise reports as well as overall reports are provided</li>
                    </ul>
                </button>
                 <form action="/home/grades" method="post">
                    <input type="text" id="testID" name="Test ID" placeholder="Enter the Test ID" autofocus>
                    <input type="submit" id="takeTestButton" value="Take Test">
                </form>
            </td>
        </tr>
    </table>
</div>