<div class="login-page">
    <div class="form">
        <h3>RESET YOUR PASSWORD</h3>
        <p>Enter the email ID</p>
        
        <form action="/forgot" method="post" class="login-form">


            <div class="container">
                <input type="text" placeholder="Email address" name="email" required>

                <button type="submit" id="loginButton">Reset Password</button>

            </div>
            <br>
            <span class="forgot-password"> <a href="/login">Back</a></span>
        </form>
    </div>
</div>