<div class="" onload="startTime()">
    <table class="center">
        <tr>

            <td>
                <form action="/home/test" method="post">
                    <input type="text" name="testid" placeholder="Test ID" autofocus>
                    <input type="submit" id="takeTestButton" value="Take Test">
                </form>
            </td>
            <td><button class="dashboard-button">
                    <label class="btn-txt">View Tests</label>
                </button></td>
        </tr>
        <tr>
            <td><button class="dashboard-button">
                    <label class="btn-txt">View Grades</label>
                </button></td>
            <td><button class="dashboard-button">
                    <label class="btn-txt">Take Test</label>
                </button></td>
        </tr>
    </table>
</div>