<div class="login-page">
    <div class="form">
        <h2>ONLINE PORTAL</h2>
        <form action="/login" method="post" class="login-form">


            <div class="container">
                {{!-- <label for="uname"><b>Username</b></label> --}}
                <input type="text" placeholder="Username" name="uname" required>

                {{!-- <label for="psw"><b>Password</b></label> --}}
                <input type="password" placeholder="Password" name="password" required>

                <button type="submit" id="loginButton">Login</button>

            </div>
            <br>
            <span class="forgot-password"> <a href="/signup">Sign Up</a></span>
            <br><br>
            <span class="forgot-password"> <a href="/forgot">Forgot password?</a></span>
        </form>
    </div>
</div>