<link rel="stylesheet" type="text/css" href="/css/main.css">
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">


<div class="row">

  <div class="column">

    <div class="slider">


      <div class="slides">
        <div id="slide-1">
          <img src="/images/smp3.jpg" />

        </div>
        <div id="slide-2">
          <img src="/images/smp2.jpg" />
        </div>
        <div id="slide-3">
          <img src="/images/log-cabin.jpg" />
        </div>
        <div id="slide-4" />
        <img src="/images/smp1.jpg" />
      </div>
      <div id="slide-5">
        <img src="/images/smp4.png" />
      </div>
    </div>
    <a href="#slide-1">1</a>
      <a href="#slide-2">2</a>
      <a href="#slide-3">3</a>
      <a href="#slide-4">4</a>
      <a href="#slide-5">5</a>
  </div>

</div>

<div class="column">
  <div class="column-text">
    <div class="card">
      <div class = title_name>
        EXPEDIENT 
      </div>
      <div class="title_content">
      <p>A company focusing on modern education by providing the highest consumer e-learning solutions available.</p>
    </div>
    </div>
  </div>

</div>
