<link rel="stylesheet" type="text/css" href="/css/main.css">



<div class="row">

  <div class="column">

    <div class="slider">

      <a href="#slide-1">1</a>
      <a href="#slide-2">2</a>
      <a href="#slide-3">3</a>
      <a href="#slide-4">4</a>
      <a href="#slide-5">5</a>

      <div class="slides">
        <div id="slide-1">
          1
        </div>
        <div id="slide-2">
          2
        </div>
        <div id="slide-3">
          <img src="/images/log-cabin.jpg" />
        </div>
        <div id="slide-4" />
        <img src="https://farm9.staticflickr.com/8059/28286750501_dcc27b1332_h_d.jpg" />
      </div>
      <div id="slide-5">
        5
      </div>
    </div>
  </div>

</div>

<div class="column">
  <div class="column-text">
    <div class="card">
      <h2>Institute Name</h2>
      <p>THis is some text</p>
    </div>
  </div>

</div>
