<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="login-page">
    <div>
        <h2>RESULTS</h2>
        <p>Email: {{email}}</p>
        <p>Score: {{score}}/10 </p>
    </div>
</div>


<div class="countdown-timer"></div>
<script type="text/javascript" src="/js/test.js"></script>