<div class="login-page">
    <div class="form">
        <h2>SIGN UP</h2>

        <form action="/signup" method="post" class="login-form">
            <div class="container">

                <input type="text" placeholder="Name" name="name" required>
                <input type="text" placeholder="Phone Number" name="phoneNumber" required>
                <input type="text" placeholder="Email address" name="email" required>

                <input type="password" placeholder="Confirm Password" name="confirm_password" required>
                <input type="password" placeholder="Password" name="password" required>

                <button type="submit" id="loginButton">Sign Up</button>

            </div>

        </form>
        <br>
        <span class="forgot-password"> <a href="/login">Back</a></span>
    </div>
</div>