<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="./css/main.css" />

</head>

<body>

    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <div class="header">
        <a href="" class="logo">CompanyLogo</a>

        <div class="header-right">
            <a class="active" href="">Home</a>
            <a href="">Quiz</a>
            <a href="">Marks</a>
            <a class="login-button" href="">Logout</a>
        </div>
    </div>


    {{{body}}}

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/js/homepage.js"></script>

</body>

</html>